body {
  background: #000 center top;
  color: #F4E12B;
  margin: 1em;
  font-family: Helvetica, Arial;
	text-align: justify;
  perspective: 500;
	font-size: 30px;
	overflow: hidden;
}

#starwars {
	width:560px;
	margin: 0 auto;
}

h1, h2 {
  margin: 0;
  text-align: center;
}